<script type="text/html" id="ProjectView">
    <div class="ProjectView">
        <div class="head title">
            <span>{{name}}</span>
            <span class="glyphicon glyphicon-edit edit-project"></span>
        </div>
        <div class="task-list">

        </div>
        <div class="foot title add-task">
            <span class="glyphicon glyphicon-plus"></span>
            <span>Add Task</span>
        </div>

        <div class="modal fade" id="modal-add-task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Add Task</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control name" placeholder="name">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary add-task-ok">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-update-project" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Update Project</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control name" placeholder="name">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary update-project-ok">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="List-tasks" type="text/html">
    {{#each tasks}}
    <div class="item" data-entity-id="{{id}}">
        <span class="name">{{name}}</span>
        <span class="glyphicon glyphicon-edit edit-task"></span>
        <span class="glyphicon glyphicon-remove delete"></span>
    </div>
    {{/each}}
</script>

