.TaskPopup {
    left: 50%;
    top: 200px;
    margin-left: -200px;
    position: absolute;
    .Popup-con {
        width: 400px;
        height: 300px;
        .form-group {
            &:first-child {
                margin-top: 16px;
            }
        }
        .state-group {
        @mixin clearfix;
            .check-label {
                float: left;
                margin-right: 16px;
            }
        }
    }
} 