@import "./utils.pcss";

html, body{
	height: 100%;
}

body{
	display: flex;
	flex-direction: row;
}

#appbody{
	display: flex;
	flex: 1;
}

a{
	cursor: pointer;
}

a.action{
	font-size: .8em;
	display: block;
}


