/* --------- Variables --------- */
$bdr-blue: #54698d;
$bdr-gray: #d8dde6;

$txt-lighter: #777;
$txt-light: #555;
$txt: #333;
$txt-dark: #000;
$txt-blue: #54698d;

$txt-label: #555;

$bkg-lighter: #f0f0f0;
$bkg-light: #aaa;

/* --------- /Variables --------- */