/* --------- Variables --------- */
$bdr-blue: #54698d;
$bdr-gray: #d8dde6;

$txt-lighter: #777;
$txt-light: #555;
$txt: #333;
$txt-dark: #000;
$txt-blue: #54698d;

$txt-label: #555;

$bkg-lighter: #f0f0f0;
$bkg-light: #aaa;

/* --------- /Variables --------- */

@define-mixin clearfix{
  &:before,
  &:after {
      content: " ";
      display: table;
  }
  &:after {
      clear: both;
  }
}

@define-mixin fitparent{
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}